[submodule "all_apps/apps"]
	path = all_apps/apps
	url = https://github.com/saleor/apps
[submodule "all_apps/saleor-app-payment-authorize.net"]
	path = all_apps/saleor-app-payment-authorize.net
	url = https://github.com/saleor/saleor-app-payment-authorize.net
[submodule "all_apps/saleor-app-payment-stripe"]
	path = all_apps/saleor-app-payment-stripe
	url = https://github.com/saleor/saleor-app-payment-stripe
[submodule "all_apps/saleor-app-payment-klarna"]
	path = all_apps/saleor-app-payment-klarna
	url = https://github.com/saleor/saleor-app-payment-klarna
[submodule "all_apps/saleor-app-abandoned-checkouts"]
	path = all_apps/saleor-app-abandoned-checkouts
	url = https://github.com/saleor/saleor-app-abandoned-checkouts
